<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prestige_valet_service.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>7</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
				<key>dateExpires</key>
				<string>7/9/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>16.2.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>16.2.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>16.2.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>16.2.1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>10.20.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>7.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MFSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>100.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftProtobuf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.25.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>barcode_scan2.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>bluetooth_thermal_printer.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_facebook_auth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>myfatoorah_flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>otp_pin_field.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>rive_common.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>818421166B87B7CB99D8CA8F6A1DB0CB6FDD35DA</string>
						<key>dateExpires</key>
						<string>7/9/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>twitter_login.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DF3MWR5U98</string>
						<key>name</key>
						<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DF3MWR5U98.com.prvisoft.prestigevaletsevice.prestigeValetService</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>DF3MWR5U98</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e80a88be-0ec8-47a3-8453-b1d547dfcd7f</string>
				<key>dateExpires</key>
				<string>7/25/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.prvisoft.prestigevaletsevice.prestigeValetService</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DF3MWR5U98</string>
				<key>name</key>
				<string>PROVISION FOR SOFTWARE DEVELOPMENT AND DESIGN</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
