<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCL7c5j05nITdVJvYzN6CjZNPN2wtHrwOc</string>
	<key>GCM_SENDER_ID</key>
	<string>752419261145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prvisoft.prestigevaletsevice.prestigeValetService</string>
	<key>PROJECT_ID</key>
	<string>prestige-valet-service</string>
	<key>STORAGE_BUCKET</key>
	<string>prestige-valet-service.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752419261145:ios:d4116e5d32fd2b4fe24cc8</string>
</dict>
</plist>